<div class="row">
	<div class="col-xs-12">
		<h3>
			Favourites
		</h3>
	</div>
</div>
<div class="row">
	<div class="popular-card" *ngFor="let contact of contacts;let i=index">
		<mat-card class="contacts-popular-card" *ngIf="contact._isFavourite" (click)="onFavouriteDetails(i)">
			<mat-card-header>
				<div mat-card-avatar class="example-header-image">
					<a class="material-icons">account_circle</a>
				</div>
				<mat-card-title>{{contact._name}}</mat-card-title>
				<mat-card-subtitle>{{contact._number}}</mat-card-subtitle>
			</mat-card-header>
		</mat-card>
	</div>
</div>