<p></p>
<mat-card class="contact-card">
	<mat-card-header>
		<div mat-card-avatar class="contact-card-image">

		</div>
		<mat-card-title>{{contact._name}}</mat-card-title>
		<mat-card-subtitle>{{contact._organisation}}/{{contact._designation}}</mat-card-subtitle>
	</mat-card-header>
	<mat-card-content>
		<div class="contnet-address">
			<mat-icon class="small-icon">domain</mat-icon>
			<a>{{contact._address}}</a>
		</div>
		<div class="contnet-address">
			<mat-icon class="small-icon">message</mat-icon>
			<a>{{contact._number}}</a>
			<mat-icon class="small-icon">local_phone</mat-icon>
		</div>
		<div class="contnet-address">
			<mat-icon class="small-icon">mail</mat-icon>
			<a>{{contact._email}}</a>
		</div>
		<div class="contnet-address">
			<mat-icon class="small-icon">card_giftcard</mat-icon>
			<a>{{contact._birthday}}</a>
		</div>
<!-- <div class="container map-styles"> -->
<agm-map [latitude]="contact._latitude" [longitude]="contact._longitude" [scrollwheel]="true" [zoom]="zoom">
		<agm-marker [latitude]="contact._latitude" [longitude]="contact._longitude"></agm-marker>
	</agm-map>
	<!-- </div> -->
	</mat-card-content>

</mat-card>


